.nav_mobile {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%; 
  height: 100vh;
  background-color: var(--purple);
  animation: menuBar 1.3s both;
  animation-direction: alternate;
}  

.revse {
  animation: revseBar 2s both;
}

.navBtn {
  position: absolute;
  right: 1rem;
  top: 1.2rem;
}

.nav_mobile ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center ;
}

.nav_mobile li {
   margin-bottom: 20px;
}

.Link {
  text-decoration: none;
  font-size: var(--fontMed);
  color: var(--white);
  padding: 0.6rem;
}
.Link:hover {
  font-weight: 500;
}

@keyframes menuBar {
  from {
    right: -100%;
  }

  to {
    right: 0% ;
  }
  
} 

@keyframes revseBar {
  from {
    right: 100%;
  }
  
  to {
    right: 0%;
  }
}